<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
    <meta charset="UTF-8">
    <title>PASPORT WEB UI</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<p>
<h1>ВЕБ-Сервис 🗎 ПАСПОРТ РФ 🗎</h1>
</p>

<div class="row">
    <div class="block">
        <form id="upload-container" method="POST" action="send.php">
            <img id="upload-image" src="/static/upload.png">
            <div>
                <input id="file-input" type="file" name="file" multiple>
                <label for="file-input">Выберите файл</label>
                <span>или перетащите его сюда</span>
            </div>
        </form>
    </div>

    <div class="block">
        <form id="pasport" method="POST" action="send.php">
            <img id="pas-img" src= {{ image_path }} alt="Фото Паспорта" />
        </form>
    </div>

    <div class="block">
        <form id="export-container" action="send.php">
            <div align="left">
                <br>
                <br>
                <br>
                <p><b>Качество скана:</b> {{ quality_score }} </p>
                <p><b>Фамилия:</b> {{ surname }} </p>
                <p><b>Имя:</b> {{ name }} </p>
                <p><b>Отчество:</b> {{ second }} </p>
                <p><b>Дата рождения:</b> {{ year }} </p>
                <p><b>Серия/номер:</b> {{ series }} {{ num }} </p>
                <p><b>Пол:</b> {{ gender }} </p>
                <p><b>Гражданство:</b> {{ ctz }} </p>
                <p><b>Выдан:</b> {{ release }} </p>
                <p><b>Код подразделения:</b> {{ code }} </p>
                <p><b>Контрольная сумма:</b> {{ fcs }} </p>
            </div>
        </form>
    </div>
</div>

</body>

</html>